{% extends 'layout.html' %}

{% block header %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/welcome.css') }}"/>
{% endblock %}

{% block body %}
<div class="window-container">
  <div class="content-container">
    <h1>
      Welcome to Weasl!
    </h1>
    <div>
      <h2>Get started</h2>
      <p>
        To get started, paste the following on your website to install Weasl:
      </p>
      <pre>
  &lt;script&gt;
    (function(window, document) {
    if (window.weasl) console.error('Weasl embed already included');
    var w = {}, m = ['init', 'login', 'signup', 'setAttribute', 'getCurrentUser']; w._c = [];
    m.forEach(function(me) {w[me] = function() {w._c.push([me, arguments])};});
    var elt = document.createElement('script');
    elt.type = "text/javascript"; elt.async = true;
    elt.src = "https://js.weasl.in/embed/shim.js";
    var before = document.getElementsByTagName('script')[0];
    before.parentNode.insertBefore(elt, before);
    window.weasl = w;
    })(window, document, undefined);
    weasl.init('{{ client_id }}');
  &lt;/script&gt;
      </pre>
      <p>
        From here, you can <a href="https://docs.weasl.in">consult our documentation</a> for how to get started with user login using Weasl.
      </p>
    </div>
  </div>
</div>
{% endblock %}