{% extends 'layout.html' %}

{% block header %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard/index.css') }}"/>
{% endblock %}

{% block body %}
<div class="dashboard-container">
  <div class="sidebar-nav">
    <ul>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/dashboard/activity">Activity</a></li>
      <li><a href="/dashboard/users">Users</a></li>
      <li class="active">Settings</li>
    </ul>
  </div>
  <div class="window-container">
    <div class="content-container">
      <h1>
        Your Weasl settings
      </h1>
      <div>
        <form method="POST">
          <div class="settings-form-field">
            {{ form.company_name.label }}
            <span class="settings-form-field-desription">This field is used when your company name is used in emails and text messages</span>
            <div>
              {% if form.company_name.errors %}
                <ul class="errors">
                {% for error in form.company_name.errors %}
                  <li>{{ error }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            </div>
            {{ form.company_name(placeholder="ACME Corp.") }}
          </div>
          <div class="settings-form-field">
            {{ form.text_login_message.label }}
            <span class="settings-form-field-desription">This is the message that is send to users via sms to login. It has a 6 digit code at the end</span>
            <div>
              {% if form.text_login_message.errors %}
                <ul class="errors">
                {% for error in form.text_login_message.errors %}
                  <li>{{ error }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            </div>
            {{ form.text_login_message(placeholder="Use this code to login to your account") }}
          </div>
          <input class="signup-form-submit-button" type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
