{% extends 'layout.html' %}

{% block header %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard/index.css') }}"/>
{% endblock %}

{% block body %}
<div class="dashboard-container">
  <div class="sidebar-nav">
    <ul>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/dashboard/activity">Activity</a></li>
      <li class="active">Users</a></li>
      <li><a href="/dashboard/settings">Settings</a></li>
    </ul>
  </div>
  <div class="window-container">
    <div class="content-container">
      <h1>
        Your users
      </h1>
      <div class="table-wrapper">
        <table>
          <thead>
            <th>Email</th>
            <th>Phone</th>
            <th>Last Login</th>
            <th>ID</th>
          </thead>
          <tbody>
            {% for user in ordered_users %}
            <tr>
              <td>{{ user.email }}</td>
              <td>{{ user.phone_number }}</td>
              <td>{{ user.last_login_at }}</td>
              <td>{{ user.id }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
