* {
  font-family: Verdana, sans-serif;
}

body {
  margin: 0;
}

h1, h2 {
  text-align: center;
}

.window-container {
  padding: 30px 40px;
  background: #dfedf3;
}

.content-container {
  background: white;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 3px;
}

pre {
  margin: 15px;
  padding: 10px;
  background: #e3e3e3;
  overflow: auto;
  border-radius: 3px;
}